body {
    margin: 0;
    padding: 0;
    background: #696969;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Henny Penny', cursive;
}

.bg {
    background-image: url("halloween.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.spiderweb {
    background: #fff;
    width: 2px;
    height: 200px;
    margin-left: 49px;
}

.spider {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 30%;
    animation: swing 2s infinite;
    transform-origin: top;
}

.spider .body {
    width: 100px;
    height: 80px;
    background: #000;
    position: relative;
    border-radius: 50%;
}

.spider .body .eye {
    width: 33px;
    height: 33px;
    background: #fff;
    position: absolute;
    bottom: 20px;
    border-radius: 50%;
}

.spider .eye.right {
    right: 15px;
}

.spider .eye.left {
    left: 15px;
}

.spider .eye::after {
    background: #000;
    width: 7px;
    height: 7px;
    content: '';
    display: block;
    margin: 55%;
    border-radius: 50%;
    animation: look 8s infinite;
}

.spider .legs .leg {
    width: 80px;
    height: 40px;
    margin-top: -20px;
    border: 5px solid transparent;
    border-top-color: #000;
    border-radius: 40px 40px 0 0;
}

.spider .legs {
    position: absolute;
    bottom: -10%;
    z-index: -1;
}

.spider .legs.left {
    left: -70%;
}

.spider .legs.right {
    right: -60%;
}

.legs.left .leg:nth-child(1) {
    transform: rotate(10deg);
    margin-left: 10px;
}

.legs.right .leg:nth-child(1) {
    transform: rotate(-10deg);
    margin-left: -10px;
}

.legs.left .leg:nth-child(2) {
    transform: rotate(-20deg);
    margin-left: 20px;
}

.legs.right .leg:nth-child(2) {
    transform: rotate(20deg);
    margin-left: -20px;
}

.legs.left .leg:nth-child(3) {
    transform: rotate(-50deg);
    margin-left: 30px;
}

.legs.right .leg:nth-child(3) {
    transform: rotate(50deg);
    margin-left: -30px;
}

@keyframes look {
    0%,
    40%,
    100% {
        transform: translateX(0);
    }
    45%,
    95% {
        transform: translateX(-110%);
    }
}

@keyframes swing {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.loading {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #e67e22;
    position: relative;
    animation: a1 2s linear infinite;
    font-size: 25px;
}

.loading::before,
.loading::after {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
}

.loading::before {
    border-top: 10px solid #d35400;
    transform: rotate(120deg);
}

.loading::after {
    border-top: 10px solid #f39c12;
    transform: rotate(240deg);
}

.loading span {
    position: absolute;
    width: 200px;
    height: 200px;
    color: #fff;
    text-align: center;
    line-height: 200px;
    animation: a2 2s linear infinite;
}

@keyframes a1 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes a2 {
    to {
        transform: rotate(-360deg);
    }
}