body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303952;
}

.slider {
    color: #FC427B;
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}

span::before {
    content: '';
    animation: emoji-switch 9s linear infinite;
}

@keyframes emoji-switch {
    0% {
        content: '💻';
    }
    15% {
        content: '🐶';
    }
    25% {
        content: '📚';
    }
    35% {
        content: '🍪';
    }
    55% {
        content: '🍕';
    }
    75% {
        content: '🐱';
    }
    100% {
        content: '🍺';
    }
}